.background{
  height: 100%;
  width: 100%;
}
.main{
  background-image: url("image-new.png");
  height: 90%;
  width: 90%;
  padding-bottom: 50px;
  margin: auto;
  overflow: auto;
}
.fancybox12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: aout;
  padding: 20px 40px;
  color: #4c4c4c;
  background-color: #faf1da;
  border: solid 3px rgba(190, 186, 136,1);
  border-radius: 5px;
  box-shadow: inset 0 0 40px rgba(190, 186, 136,1), 0 2px 2px #ccc;
  }
  .title{
    font-size: 50px;
  }
  .log{
  align-items: center;
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 1em 0.2em;
  color: #4c4c4c;
  border: solid 2px rgba(190, 186, 136,1);
  border-radius: 50px;
  background-color: #faf1da;
  cursor: pointer;
  font-weight: 700;
  }
  .log:hover{
    background-color:  rgb(247, 215, 136);
    border: solid 5px  #59b1eb;
  }
a{
  text-decoration: none;
  font-size: 20px;
  color: #4c4c4c;
}
a:hover{
  background-color: rgb(247, 215, 136);
}
.post{
  text-align: center;
}
.post1 {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 0.2em 1em 0.1em;
  color: #4c4c4c;
  border: solid 2px rgba(190, 186, 136,1);
  border-radius: 50px;
  background-color: #faf1da;
  cursor: pointer;
  margin-top: 30px;
}
.post1:hover{
  border: solid 5px  #59b1eb;
}
.item-contents{
  width: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-lists{
  width: 90%;
  justify-content: center;
}
li{
  list-style: none;
  width: calc(100%/4);
}
.contents-row{
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
}
.content-post{
  margin: 0 10px 10px 10px ;
}
.content_post2{
  height: 280px;
  width: 280px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  max-width: 100%;
  border: solid 3px #ccc;
}
.name{
  text-align: left;
  margin: 0 0 0 10px;
  margin-bottom: 30px;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: bold;
}
footer{
  color: #4c4c4c;
  background-color: honeydew;
  text-align: center;
}
.footer1{
opacity: 0.5;
margin: 0;
}