.background{
  background-color: honeydew;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}
.main{
  background-image: url("image-new.png");
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #4c4c4c; 
  overflow: auto;
}
.contents{
  text-align: center;
}
.submit{
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  padding: 0.2em 1em 0.2em 1em;
  color: #4c4c4c;
  border: solid 2px rgba(190, 186, 136,1);
  border-radius: 50px;
  background-color:#faf1da;
  cursor: pointer;
  margin-top: 30px;
}
.submit:hover{
  background-color:  rgb(247, 215, 136);
  border: solid 5px  #59b1eb;
}
.hidden{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #4c4c4c;
  margin-bottom: 30px;
}
.upload{
  display: block;
  align-items: center;
}
.item-text{
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: solid 2px rgba(190, 186, 136,1);
}
.item-area{
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 300px;
  margin: 20px;
  resize: none;
  white-space: pre-wrap;
  border-radius: 5px;
  border: solid 2px rgba(190, 186, 136,1);
}
.indispensable {
  background: #ea352d;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.recipe{
  position: relative;
}
.indispensable1 {
  margin-top: 30px;
  position: absolute;
  background: #ea352d;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.btn{
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 0.2em 1em 0.2em 1em;
  color: #4c4c4c;
  border: solid 2px rgba(190, 186, 136,1);
  border-radius: 50px;
  background-color: #faf1da;
  cursor: pointer;
  margin-bottom: 30px;
}
.btn:hover{
  background-color:  rgb(247, 215, 136);
  border: solid 5px  #59b1eb;
}
.error-alert-new{
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}
.error-message-new{
  width: 100%;
  font-size: 15px;
  color:#ea352d;
}
