.main-user-show{
  background-image: url("image-new.png");
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.fancybox15{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: aout;
  padding: 20px 40px;
  color: #4c4c4c;
  background-color: #faf1da;
  border: solid 3px rgba(190, 186, 136,1);
  border-radius: 5px;
  box-shadow: inset 0 0 40px rgba(190, 186, 136,1), 0 2px 2px #ccc;
  }
  .title-show{
    font-size: 30px;
  }
  .log-show{
    align-items: center;
    font-size: 30px;
    display: inline-block;
    padding: 0.2em 1em 0.2em;
    color: #4c4c4c;
    border: solid 2px rgba(190, 186, 136,1);
    border-radius: 50px;
    background-color: #faf1da;
    cursor: pointer;
    font-weight: 700;
    }
    .log-show:hover{
      background-color:  rgb(247, 215, 136);
      border: solid 5px  #59b1eb;
    }
  .post-show1{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0.2em 1em 0.1em;
    color: #4c4c4c;
    border: solid 2px rgba(190, 186, 136,1);
    border-radius: 50px;
    background-color: #faf1da;
    cursor: pointer;
    margin-top: 30px;
  }
  .post-show1:hover{
    border: solid 5px  #59b1eb;
  }
  a{
    text-decoration: none;
    font-size: 20px;
    color: #4c4c4c;
  }
  a:hover{
    background-color: rgb(247, 215, 136);
  }
  .post-show{
    text-align: center;
  }
  .post-show1{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0.2em 1em 0.1em;
    color: #4c4c4c;
    border: solid 2px rgba(190, 186, 136,1);
    border-radius: 50px;
    background-color: #faf1da;
    cursor: pointer;
    margin-top: 30px;
  }
  .post1:hover{
    border: solid 5px  #59b1eb;
  }
  .item-contents-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
  }
  .item-lists-show{
    justify-content: center;
  }
  li{
    list-style: none;
  }
  div.contents-show.row{
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
  }
  div.content_post-show{
    margin: 0px 10px 10px 10px;
  }
  .content_post-show2{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
  .name-show{
    text-align: left;
    margin: 0 0 0 10px;
    color: #4c4c4c;
    font-size: 15px;
    font-weight: bold;
  }
  .name-show2{
    display: block;
    margin: auto;
    padding: auto;
  }